<%- include('header'); -%>

<p>Hi this is Prateek Arya. I am pursuing bachalor's degree in chemical engineering from Indian Institute of Technology (BHU), Varanasi. Currently I'm a studying Web Develepment. Actually I'm kind of nerd in programming field and trying my best to conquer my dreams and I want to become a Software developer and get a Job at good product based company.</p>

<%- include('footer'); -%>
